<div class="ui huge menu">
  <a class="active item">
    Home
  </a>
  <a class="item">
    Find Cheese Shop
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
      Filter Cheese <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">One</a>
        <a class="item">Two</a>
        <a class="item">three</a>
      </div>
    </div>
    <div class="item">
        <div class="ui primary button">Sign Up</div>
        <div class="ui primary button">Log In</div>
    </div>
  </div>
</div>
