<div class="ui huge menu">
  <a id="home" class="active item" [routerLink]="['/home']">
    Home
  </a>
  <a class="item" [routerLink]="['/results']">
    <app-get-all-cheese-btn></app-get-all-cheese-btn>
  </a>
  <a class="item">
      <app-search-cheese-name></app-search-cheese-name>
  </a>
  <div class="right menu">
    <div class="item">
        <div [routerLink]="['/sign-up']" class="ui primary button">Sign Up</div>
        <!-- <div class="ui primary button">Log In</div> -->
    </div>
  </div>
</div>
