<form (submit)="getCheeseResults(cheese.value)">
<div class="ui search">
  <div class="ui icon input">
    <input class="form-control" #cheese type="text" placeholder="Search by Cheese Name">
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>
</form>

<table *ngIf="cheeses" class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Animal</th>
      <th>Firmness</th>
    </tr>
  </thead>
  <tr *ngFor="let cheese of cheeses">
    <td>{{cheese.name}}</td>
    <td>{{cheese.animal}}</td>
    <td>{{cheese.firmness}}</td>
  </tr>
</table>
